.el-form {
  .el-form-item__label {
    font-weight: 500;
    color: #8094AE;
  }

  .el-form-item__content {
    .el-date-editor {
      width: 100%;
    }
    .el-range-editor{
      width: 400px;
    }
  }
}